</br><div align="center"><h1>REGISTRAR NUEVO CLIENTE</h1></div>
</br></br>
<div align="center"><%= render 'form', cliente: @cliente %></div>
</br></br>
<div align="center"><%= link_to 'ATRAS', clientes_path %></div></br></br>
