</br></br><div align="center"><h1>EDITAR CATALOGO</h1></div>

<div align="center"><%= render 'form', catalogo: @catalogo %></div></br></br>

<div align="center"><%= link_to 'VER', @catalogo %> |
<%= link_to 'ATRAS', catalogos_path %></div></br></br></br>
