<div align="center"><h1>EDITAR CAMPAÑA</h1></div></br>
</br>
<%= render 'form', campanium: @campanium %>
</br></br></br>
<div align="center"><%= link_to 'VER', @campanium %> |
<%= link_to 'ATRAS', campania_path %></div></br>
