</br></br><div align="center"><h1>REGISTRAR NUEVO VETERINARIO</h1></div>
</br></br>
<div align="center"><%= render 'form', doctor: @doctor %></div>
</br></br>
<div align="center"><%= link_to 'REGRESAR', doctors_path %></div></br></br>
