</br></br><div align="center"><h1>EDITAR UNA CITA</h1></div>
</br>
<%= render 'form', citum: @citum %>
</br></br>
<div align="center"><%= link_to 'VER', @citum %> |
<%= link_to 'ATRAS', cita_path %></div></br></br>
