<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PirataPets :: VETERINARIA</title>
	
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/nivo-lightbox.css" rel="stylesheet" />
	<link href="/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
	<link href="/css/animations.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
	<link href="/color/default.css" rel="stylesheet">
    <!-- =======================================================
        Theme Name: Bocor
        Theme URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


	<!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
					<div class="section-heading text-center">
					<h2 class="h-bold animated bounceInDown">INGRESAR A LA SECCION RESTRINGIDA</h2>
					<div class="divider-header"></div>
					</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="container">

			<div class="row marginbot-80">
				<div class="col-md-8 col-md-offset-2">
				    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
              <%= form_tag(:action => 'login_attempt', class: 'contactForm') do %>
    						<div class="row marginbot-20">
    							<div class="col-md-6 xs-marginbot-20">
    							    <div class="form-group">
                        <%= text_field_tag(:username_or_email, "",placeholder:"Tu USUARIO o EMAIL",id:'name', class: 'form-control',"data-rule" => "minlen:4","data-msg" => "Please enter a valid email or user") %>
                      </div>
    							</div>
    							<div class="col-md-6">
    							    <div class="form-group">
                        <%= password_field_tag :login_password, "", placeholder:"Tu PASSWOORD",id:'email', class: 'form-control',"data-rule" => "email","data-msg" => "Please enter a valid password" %>
    							    </div>
    							</div>
    						</div>
    						<div class="row">
    							<div class="col-md-12">
    								<div class="form-group">
    							
    								
                                        <div class="validation"></div>
    								</div>
    								<div class="form-group">
    								  <div class="validation"></div>
    								</div>
                    <%= submit_tag("INGRESAR", class: 'btn btn-skin btn-lg btn-block') %>
    							</div>
    						</div>
              <% end %>
				</div>
			</div>	


		</div>
	</section>
	<!-- /Section: contact -->

    <!-- Core JavaScript Files -->
    <script src="/js/jquery.min.js"></script>	 
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.easing.min.js"></script>	
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/nivo-lightbox.min.js"></script>
	
    <script src="/js/custom.js"></script>
	<script src="/js/css3-animate-it.js"></script>
    <script src="/contactform/contactform.js"></script>
    
</body>

</html>
