
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>


<body onload="MM_preloadImages('/img/nuevo_doctor_2.jpg','/img/nuevo_cliente_2.jpg','/img/nuevo_paciente_2.jpg','/img/nuevo_cita_2.jpg','/img/nuevo_campa_2.jpg','/img/nuevo_compro_2.jpg','/img/nuevo_historia_2.jpg','/img/nuevo_cata_2.jpg','/img/nuevo_guarderia_2.jpg')">


		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
					<div class="section-heading text-center animated bounceInDown">
					<h2 class="h-bold">ZONA USUARIO CLIENTE</h2>
					<div class="divider-header"></div>
					</div>
					</div>
				</div>
			</div>

		</div>


<div align="center"  ><table class="table table-responsive">
  <tr>
    <th ><div align="right"  ><a align="center" href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','/img/campa_ico2.jpg',1)"><img src="/img/campa_ico1.jpg" width="250" height="125" id="Image1" /></a></div></th>
    <th><div align="left"  ><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','/img/nuevo_cliente_2.jpg',1)"><img src="/img/nuevo_cliente_1.jpg" width="250" height="125" id="Image2" /></a></div></th>
  </tr>
  <tr><div align="center"  >
    <th><div align="right"  ><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/img/nuevo_paciente_2.jpg',1)"><img src="/img/nuevo_paciente_1.jpg" width="250" height="125" id="Image3" /></a></div></th>
    <td cellspacing="20"  border="1" ><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/img/nuevo_cita_2.jpg',1)"><img src="/img/nuevo_cita_1.jpg" width="250" height="125" id="Image4" /></a></th>
  </tr></div>
  <tr>
    <th><div align="right"  ><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','/img/nuevo_campa_2.jpg',1)"><img src="/img/nuevo_campa_1.jpg" width="250" height="125" id="Image5" /></a></div></th>
    <th><p><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','/img/nuevo_compro_2.jpg',1)"><img src="/img/nuevo_compro_1.jpg" width="250" height="125" id="Image6" /></a></p></th>
  </tr>
  <tr>
    <th><div align="right"  ><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','/img/nuevo_historia_2.jpg',1)"><img src="/img/nuevo_historia_1.jpg" width="250" height="125" id="Image7" /></a></div></th>
    <th><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','/img/nuevo_cata_2.jpg',1)"><img src="/img/nuevo_cata_1.jpg" width="250" height="125" id="Image8" /></a></th>
  </tr>
  <tr>
    <th><div align="right"  ><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image9','','/img/nuevo_guarderia_2.jpg',1)"><img src="/img/nuevo_guarderia_1.jpg" width="250" height="125" id="Image9" /></a></div></th>
    <th>&nbsp;</th>
  </tr>
</table></div>

 <!-- Core JavaScript Files -->
    <script src="/js/jquery.min.js"></script>	 
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.easing.min.js"></script>	
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/nivo-lightbox.min.js"></script>
	
    <script src="/js/custom.js"></script>
	<script src="/js/css3-animate-it.js"></script>
    <script src="/contactform/contactform.js"></script>
    
</body>
</html>
